<!DOCTYPE html>
<html>
  <head>
    <title>TomG Practice Redux Async Actions</title>

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>

    <!-- The link tag below is for CSS built outside the webpack workflow. -->
    <link rel="stylesheet" href="./style/style.css">

    <!-- The two link tags below should be enabled when running this file in PROD.
    When running in DEV (webpack dev server, or node server),
    then webpack loads and injects them. -->

    <!-- This is the index TEMPLATE file:
        - leave the link and script tags commented out even for a PROD build!
        - the html-webpack-plugin plugin will insert them
        - with unique hash in the file name for cach invalidation -->

    <!-- <link rel="stylesheet" href="./dist/styles.css"> -->
    <!-- <link rel="stylesheet" href="./dist/globalStyle.css"> -->
  </head>
  <body>
    <div id="app_test1">
    </div>

    <!-- script tab commented out for cache invalidation. -->
    <!-- <script src='./dist/bundle.js'></script> -->
    <!-- hello -->

    <!-- line below is for InlineManifestWebpackPlugin() in webpack.config.js -->
    <%= htmlWebpackPlugin.files.webpackManifest_test1 %>

  </body>
</html>
